*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}


.Header {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid black;
  align-items: center;
  margin: 10px;
}
.logo {
    width: 150px;
    padding: 05px;
    margin: 05px;
}
.app {
     display: block;
     margin: 0 auto;
 }
 .Nav-details > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;

 }
 .Nav-details > ul > li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
 }
 .Body {
    width: 100%;
    display: block;
 }
 .Search-Container {
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    margin: 10px;
   
 }
 .rest-cont-body {
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #f0f0f0;
 }
 .Rest-logo {
    width: 100%;
    padding: 5px;
    margin: 5px;
    
 }
 .resturant-container {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
 
 }
.Footer-cont {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #0000ff;
    text-align: center;
    
}
.Search-Container {
    padding: 10px;
}
.rest-cont-body:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .filter-rest{
   margin: 10px;
cursor: pointer;
  }